

<section>
  <%= form_for [:admin, @subcategory] do |f| %>
  
    <% if @subcategory.errors.any? %>
      <section id="error_explanation">
        <h1><%= pluralize(@subcategory.errors.count, "error") %>
          prohibited this subcategory from being saved: 
        </h1> 

        <ul>
        <% @subcategory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    <% end %>
  
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :category, 'Parent Category' %><br />
      <%= f.select(:category_id, Category.all.map { |category| [category.name, category.id] }) %><br /> 
    </p>

    <%= f.submit %>

  <% end %>
</section>
