<div id="current-stock-item">
    <div class="product">
        <div id="rightcolumn">
            <div class="main-image" style="border:1px solid black;">
              <img photo-box="current" ng-src="{{current.main_show.url}}" border="0" />
            </div>
        </div>
    </div>

    <div class="description">
        <h1 ng-bind="item.name | Titleize"></h1>
        <div><p>Ref #: </p><p ng-bind="item.code"></p></div>
        <div><p ng-bind="item.description"></p></div>
        <div><p>Age: </p><p ng-bind="item.age"></p></div>
        <div><p>Origin: </p><p ng-bind="item.origin | Titleize"></p></div>
        <div><p>Measurements: </p><p ng-bind="item.measurements"></p></div>

        <p class="share-options"><a href="mailto:contact@combraygallery.com">Enquiry</a> | <a href="" onclick="window.print()">Print</a> |
          <span style="position:relative; top:5px;">
            <a href="mailTo:"><%= image_tag('share/email.png') %></a>
            <a href="http://facebook.com"><%= image_tag('share/facebook.png') %></a>
            <a href="http://twitter.com"><%= image_tag('share/twitter.png') %></a>
            <a href="http://linkedin.com"><%= image_tag('share/linkedin.png') %></a>
            <a href="http://pinterest.com"><%= image_tag('share/pinterest.png') %></a>
          </span>
        </p>

        <div class="thumbs">
            <a href="" ng-repeat="thumb in item.photos"><img ng-click="onThumbClick(thumb)" ng-src="{{thumb.photo.thumb_show.url}}" border="0" /></a>
        </div>
    </div>
</div>
