<div id="items" class="row-fluid">

  <div class="sidebar span3">
    <%= render 'categories/categories_list' %>
  </div>

  <div class="main span9">
    <div class="row-fluid">
      <div>
        <h4>
          <% if local_assigns[:subcategory] %>
            <%= link_to category.name.titleize, category_path(category) %> > <%= link_to subcategory.name.titleize, [category, subcategory] %>
          <% elsif local_assigns[:category] %>
            <%= link_to category.name.titleize, category_path(category) %> 
          <% end %>
        </h4>
      </div>
    </div>    
    <% if params[:id] %>
      <%= render 'items/items_list' %>
    <% else %>
      <%= image_tag(@category_image_url) if @category_image_url %>
    <% end %>
  </div>

</div>
