//= depend_on_asset client/templates/home.html
//= depend_on_asset client/templates/about.html
//= depend_on_asset client/templates/contact.html
//= depend_on_asset client/templates/services.html
//= depend_on_asset client/templates/current-stock.html
//= depend_on_asset client/templates/current-stock-item.html

angular.module('Combray', ['ngRoute'])
    .config(['$routeProvider', function ($routeProvider) {
        $routeProvider
            .when('/', {
              templateUrl: '<%=asset_path("client/templates/home.html")%>'
            })
            .when('/current-stock:category?:subcategory?', {
              templateUrl: '<%=asset_path("client/templates/current-stock.html")%>',
                controller: 'CurrentStockCtrl',
                reloadOnSearch: false,
                resolve: {
                    categories: ['$http', '$route', function ($http, $route) {
                        return $http.get('/categories').then(function (res) {
                          return $(res.data).map(function (i, category) {
                            category.open = $route.current.params.category == category.id ? true : false;
                            return category;
                          });
                        })
                    }],
                    items: ['$http', '$route', 'ItemsService', function ($http, $route, itemsService) {
                        var subcategoryId = $route.current.params.subcategory

                        return subcategoryId ? itemsService.all($route.current.params.subcategory).then(function (res) {
                            return res.data;
                        }) : [];
                    }]
                }
            })
            .when('/current-stock/:itemId', {
              templateUrl: '<%=asset_path("client/templates/current-stock-item.html")%>',
                controller: 'CurrentStockItemCtrl',
                resolve: {
                    item: ['ItemsService', '$route', function (itemsService, $route) {
                        return itemsService.find($route.current.params.itemId);
                    }]
                }
            })
            .when('/about', {
              templateUrl: '<%=asset_path("client/templates/about.html")%>'
            })
            .when('/contact', {
              templateUrl: '<%=asset_path("client/templates/contact.html")%>'
            })
            .when('/services', {
//              resolve: {
//                content: ['$http', function ($http) {
//                    return $http.get('/services').then(function (res) {
//                      return res.data;
//                    })
//                }]
//              },
              templateUrl: '<%=asset_path("client/templates/services.html")%>'
            });
    }]);

angular.module('Combray')
    .directive('photoBox', function () {
        var $backdrop = $('<div class="photo-box-backdrop"></div>'),
            $overlay = $('<div class="photo-box-overlay" style="background-color:white;"><p class="exit">x</p><img src=""></img></div>'),
            $body = $('body');

        function remove () {
            $backdrop.unbind('click');
            $overlay.find('.exit').unbind('click');
            $backdrop.remove();
            $overlay.remove();
        }

        function append (url) {
            $overlay.find('img').attr('src', url);
            $body.append($backdrop);
            $body.append($overlay);
        }

        return {
            restrict: 'A',
            scope: {
                photoBox: '='                
            },
            link: function (scope, elem, attrs) {
                elem.bind('click', function () {
                    remove();
                    $backdrop.on('click', function () {
                        remove();
                    });
                    $overlay.find('.exit').on('click', function () {
                        remove();
                    });
                    append(scope.photoBox.url);
                });
            }
        }
    })
    .service('ItemsService', ['$http', function ($http) {
      this.all = function (subcategory_id) {
        var reqUrl = '/items';

        if (subcategory_id) {
            reqUrl += '?subcategory_id=' + subcategory_id;
        }
        
        return $http.get(reqUrl);
      };

      this.find = function (item_id) {
        return $http.get('/items/' + item_id).then(function (res) {
            return res.data;
        })
      }
    }])
    .controller('CurrentStockCtrl', [
      '$scope', 
      '$location', 
      '$http',
      'ItemsService',
      'categories',
      'items', function ($scope, $location, $http, itemsService, categories, items) {

      $scope.categories = categories;
      $scope.items = items;

      $scope.onCategoryClick = function (category, subcategory) {
          $location.search('subcategory', null);
          $location.search('category', category.id);

          if (subcategory) {
              $location.search('subcategory', subcategory.id);
              itemsService.all(subcategory.id).then(function (res) {
                  $scope.items = res.data;
              })
          } else {
              category.open = !category.open;
          }
      }
    }])
    .controller('CurrentStockItemCtrl', [
      '$scope', 
      '$location', 
      'item', function ($scope, $location, item) {

      var $mainImage = angular.element('.main-image img');

      $scope.onThumbClick = function (thumb) {
          $mainImage.attr('src', thumb.photo.main_show.url);
          $scope.current = thumb.photo;
      }

      $scope.current = item.photos[0].photo;
      $scope.item = item;
    }]);
