<% title(@item.name, "Items") %>

<div class="items--show">
  
  <div class="photo-main row-fluid">
    <div class="span6 offset1">
      <%= image_tag(@item.photos.first.photo.url) unless @item.photos.empty? %>
    </div>
    <div class="span4 description">
      <h1><%= @item.name.titleize %></h1>

      <p>
        <label>Ref #:</label>
        <%= @item.code %>
      </p>

      <p>
        <%= @item.description %>
      </p>

      <p>Enquiry</p>

      <p>Print</p>

    </div>
  </div>
  
  <div class="row-fluid thumbs">
  
    <div class="span6 offset1">
      <% @item.photos.each do |photo| %>
        <li>
          <%= image_tag(photo.photo.url) %> 
        </li>
      <% end %>
    </div>
    
  </div>
</div>

