<% title(@item.name, "Items") %>

<div class="items--show">
  
  <div class="photo-main row-fluid">
    <div class="span7">
      <%= image_tag(@item.photos.first.photo.url) unless @item.photos.empty? %>
    </div>
    <div class="span5 description">
      <h1><%= @item.name %></h1>

      <p>
        <label>Ref #:</label>
        <%= @item.code %>
      </p>

      <p>
        <%= @item.description %>
      </p>

      <p>Enquiry</p>

      <p>Print</p>

    </div>
  </div>
  
  <div class="thumbs">
  
    <% @item.photos.each do |photo| %>
      <li>
        <%= image_tag(photo.photo.url) %> 
      </li>
    <% end %>
    
  </div>
</div>

