<% title(@item.name, "Items") %>
<%= stylesheet_link_tag "print", media: "print" %>

<div class="items-show">
  <div class="row-fluid">
    <div class="span8 images">
      <div id="itemCarousel" class="carousel slide">
        <div class="carousel-inner">
          <% @item.photos.each_with_index do |photo, index| %>
            <div class="item <%= 'active' if index == 0 %>">
              <%= image_tag(photo.photo.main_show.url) %> 
            </div>
          <% end %>
        </div>

        <a class="carousel-control left" href="#itemCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#itemCarousel" data-slide="next">&rsaquo;</a>

      </div>
    </div>
    <div class="span4 detail">
      <h1 class="item-title"><%= @item.name.titleize %></h1>

      <p class="code">
        <label>Ref #:</label>
        <%= @item.code %>
      </p>

      <p class="description">
        <%= @item.description %>
      </p>

      <p class="actions">
        <a href="">Enquiry</a>
        <span>|</span>
        <a class="print-button">Print</a>
      </p>

    </div>
  </div>
</div>

