<% title(@item.name, "Items") %>
<%= stylesheet_link_tag "print", media: "print" %>

<div class="items-show">
  <div class="row-fluid">
    <div class="span8 images">
      <div id="itemCarousel" class="carousel slide">
        <div class="carousel-inner">
          <% @item.photos.each_with_index do |photo, index| %>
            <div class="item <%= 'active' if index == 0 %>">
              <%= image_tag(photo.photo.main_show.url) %> 
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="span4 detail">
      <h1 class="item-title"><%= @item.name.titleize %></h1>
      <p>
        <span>Ref #:</span>
        <span><%= @item.code %></span>
      </p>

      <p class="description">
        <%= @item.description %>
      </p>

      <% if @item.age %>
        <p>
          <span>Age:</span>
          <span><%= @item.age %></span>
        </p>
      <% end %> 

      <% if @item.measurements %>
        <p>
          <span>Measurements:</span>
          <span><%= @item.measurements %></span>
        </p>
      <% end %> 

      <p class="actions">
        <%= link_to "Enquiry", "mailto:contact@combraygallery.com?subject=Combray Gallery: Item: ##{@item.code} - #{@item.name.titleize}"%>
        <span class="divider">|</span>
        <a class="print-button">Print</a>
        <span class="divider">|</span>
        <%= link_to "Share", "mailto:?subject=Combray Gallery: Item: ##{@item.code} - #{@item.name.titleize}"%>
      </p>

    </div>
  </div>
</div>

