<section>

  <%= render partial: 'shared/form_errors', :locals => { instance: @category } %>

  <%= form_for [:admin, @category] do |f| %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>

    <%= f.submit %>

    <%= link_to "see this category's items", admin_items_path(:category_id => @category) unless f.object.new_record? %>
    
  <% end %>
</section>
