<div class="row">
  <div class="span9">
    <h1>Admin: Categories</h1>
  </div>
  <div  class="span3 pull-right">
    <%= link_to 'New Category', new_admin_category_path %>
    <%= link_to 'New Subcategory', new_admin_subcategory_path %>
  </div>
      
</div>

<div class="row categories--list--admin">
  <div class="span12">
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, edit_admin_category_path(category)%> <span class="delete"><%= link_to '[X]', admin_category_path(category), { :method => :delete, :confirm => 'Delete this category?' } %></span></li> 
          <ul>
            <% category.subcategories.each do |subcategory| %>
              <li><%= link_to subcategory.name, edit_admin_subcategory_path(subcategory) %> <span class="delete"><%= link_to '[X]', admin_subcategory_path(subcategory), { :method => :delete, :confirm => 'Delete this subcategory?' } %></li>
            <% end %>
          </ul>
      <% end %>
    </ul>
  </div>
</div>
