
<div class="navbar">
  <div class="navbar-inner">
    <%= link_to image_tag("logo.png"), home_path, :class => 'brand' %>
    <ul class="nav pull-right">
        <li><%= link_to 'Collections', categories_path %></li>      
        <li><%= link_to 'About', about_path %></li>      
        <li><%= link_to 'Services', services_path %></li>      
        <li><%= link_to 'Contact', contact_path %></li>      
        <li>
          <%= form_tag(items_path, :method => :get) do %>
            <%= link_to 'Search', '#', :class => 'search-link' %>
            <%= text_field_tag :q, nil, { :class => "search-field", :placeholder => "SEARCH..." } %>
          <% end %>
        </li>
    </ul>
  </div>
</div>


