
<div class="navigation">
  <div class="row">
    <div class="logo span3">
      <%= link_to image_tag("logo_cropped.png"), home_path, :class => 'brand' %>
    </div>

    <div class="span7 links-container pull-right">
      <ul class="links">
        <li><%= link_to 'Collections', categories_path %></li>      
        <li><%= link_to 'Services', about_path %></li>      
        <li><%= link_to 'About', about_path %></li>      
        <li><%= link_to 'Contact', about_path %></li>      
        <li><%= link_to 'Search', about_path %></li>      
        <!-- <li><input type="search" /></li> -->
        <div style="clear:both"></div>
      </ul>
    </div>
  </div>
  <div style="clear:both"></div>
</div>
