<!DOCTYPE html>
<html ng-app="Combray">
  <head>
    <title>Combray Gallery</title>
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "print", media: "print" %>
    <%= stylesheet_link_tag    "application", media: "screen" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-controller="AppCtrl">
    <div class="header">
      <div class="logo">
        <a href="#/"><%= image_tag('logo.png') %></a>
      </div>
      <div class="print-logo">
        <%= image_tag('print_letterhead.png') %>
      </div>
      <div class="nav">
        <a href="" ng-click="onClickCurrentStock()">CURRENT STOCK</a>
        <a href="#/about">ABOUT</a>
        <a href="#/services">SERVICES</a>
        <a href="#/contact">CONTACT</a>
        <a href="" ng-hide="showSearch" ng-click="onSearchClick()">SEARCH</a>
        <!-- for now -->
        <input type="text" class="search-bar" ng-show="showSearch" placeholder="Search..." ng-model="query">
      </div>
    </div>
    <div class="main">
      <div style="height: 100%;" class="app" ng-view></div>
    </div>
    <span us-spinner="{radius:20, width:8, length: 1}" spinner-key="spinner"></span>
  <script id="crappy-add-this-tag" type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5351d7ab506e0f95"></script>
  </body>
</html>
